<div class="row">
  <div class="main-body">
    <table class="table text-center table-hover">
      <thead>
        <th>userName</th>
        <th>Active Roles</th>
        <th>#</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userName }}</td>
          <td class="fw-bold">{{ user?.roles }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="onEditModal()">Edit Role</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
