<div class="col shadow" *ngIf="member">
  <div class="card shadow-sm">
    <img
      [src]="member.photoUrl || '/assets/images/user.png'"
      alt="picture"
      class="img-thumbnail"
    />
    <div class="card-body">
      <p class="card-text">{{ member.userName }} - {{ member.age }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <button
            [routerLink]="['/members', member.userName]"
            type="button"
            class="btn btn-sm btn-outline-secondary"
          >
            <i class="far fa-eye"></i>
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <i class="far fa-comment-dots"></i>
          </button>
          <button
            type="button"
            (click)="AddLike()"
            class="btn btn-sm btn-outline-secondary"
          >
            <i class="far fa-heart text-danger"></i>
          </button>
        </div>
        <small class="text-muted fw-bold">{{
          member.lastActive | timeago
        }}</small>
      </div>
    </div>
  </div>
</div>
