<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>
                <form
                  class="mx-1 mx-md-4"
                  [formGroup]="form"
                  (ngSubmit)="onSubmit()"
                >
                  <!-- userName -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        placeholder="please enter username"
                        type="text"
                        [ngClass]="{
                          'is-invalid':
                            form.get('userName').invalid &&
                            form.get('userName').touched &&
                            form.get('userName').dirty
                        }"
                        class="form-control"
                        formControlName="userName"
                      />
                      <ng-container
                        *ngIf="
                          form.get('userName').hasError &&
                          form.get('userName').dirty &&
                          form.get('userName').touched &&
                          form.get('userName').invalid
                        "
                      >
                        <div
                          class="text-danger"
                          *ngIf="form.get('userName').errors.required"
                        >
                          Username is required
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('userName').errors.minlength"
                        >
                          Username must be at least
                          {{
                            form.get("userName").errors.minlength.requiredLength
                          }}
                          characters
                          {{
                            form.get("userName").errors.minlength.actualLength
                          }}
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('userName').errors.maxlength"
                        >
                          Username must be less than 50 characters
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('userName').errors.uniqueUsername"
                        >
                          Username is already taken
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <!-- Password -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        placeholder="please enter password"
                        class="form-control"
                        formControlName="password"
                      />
                      <ng-container
                        *ngIf="
                          form.get('password').hasError &&
                          form.get('password').dirty &&
                          form.get('password').touched &&
                          form.get('password').invalid
                        "
                      >
                        <div
                          class="text-danger"
                          *ngIf="form.get('password').errors.required"
                        >
                          password is required
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('password').errors.minlength"
                        >
                          password must be at least
                          {{
                            form.get("password").errors.minlength.requiredLength
                          }}
                          characters
                          {{
                            form.get("password").errors.minlength.actualLength
                          }}
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('password').errors.maxlength"
                        >
                          password must be less than 50 characters
                        </div>
                      </ng-container>
                    </div>
                  </div>
                  <!-- Password Confirm -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        placeholder="please repeat password"
                        class="form-control"
                        formControlName="passwordConfirm"
                      />
                      <ng-container
                        *ngIf="
                          form.get('passwordConfirm').hasError &&
                          form.get('passwordConfirm').dirty &&
                          form.get('passwordConfirm').touched &&
                          form.get('passwordConfirm').invalid
                        "
                      >
                        <div
                          class="text-danger"
                          *ngIf="form.get('passwordConfirm').errors.required"
                        >
                          Password Confirm is required
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('passwordConfirm').errors.minlength"
                        >
                          Password Confirm must be at least
                          {{
                            form.get("passwordConfirm").errors.minlength
                              .requiredLength
                          }}
                          characters
                          {{
                            form.get("passwordConfirm").errors.minlength
                              .actualLength
                          }}
                        </div>
                        <div
                          class="text-danger"
                          *ngIf="form.get('passwordConfirm').errors.maxlength"
                        >
                          Password Confirm must be less than 50 characters
                        </div>
                      </ng-container>
                      <!-- Validator Form -->
                      <div
                        class="text-danger"
                        *ngIf="showValidatorForMatchPassword()"
                      >
                        Password Confirm must match password
                      </div>
                    </div>
                  </div>
                  <!-- Submit -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      [disabled]="form.invalid"
                      type="button"
                      (click)="onSubmit()"
                      class="btn btn-primary btn-sm m-1"
                    >
                      Register
                    </button>
                    <button
                      type="button"
                      class="btn btn-warning btn-sm m-1"
                      (click)="cancel()"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="
                  col-md-10 col-lg-6 col-xl-7
                  d-flex
                  align-items-center
                  order-1 order-lg-2
                "
              >
                <img
                  src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
