<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Chat App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <!-- https://localhost:4200/messages -->
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/members"
            >Members</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/lists"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/messages"
            >Messages</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/errors"
            >Errors</a
          >
        </li>
      </ul>
      <div
        class="dropdown mr-10"
        *ngIf="currentUser$ | async as User"
        dropdown
        placement="bottom left"
      >
        <a
          class="btn btn-secondary dropdown-toggle"
          role="button"
          dropdownToggle
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Welcome {{ User.userName | uppercase }}
        </a>
        <ul
          *dropdownMenu
          class="dropdown-menu"
          aria-labelledby="dropdownMenuLink"
        >
          <li><a class="dropdown-item">Edit Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>

      <form
        *ngIf="(currentUser$ | async) === null"
        (ngSubmit)="onSubmit()"
        [formGroup]="form"
        class="d-flex"
      >
        <input
          type="text"
          formControlName="userName"
          class="form-control me-2"
          placeholder="userName"
        />
        <input
          type="password"
          formControlName="password"
          class="form-control me-2"
          placeholder="password"
        />
        <button
          class="btn btn-outline-success me-2"
          type="submit"
          [disabled]="form.invalid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
